// font-size dropdown
.ql-snow .ql-picker.ql-size {
	width: 58px;

	&.ql-expanded {
		.ql-picker-options {
			overflow-y: auto;
			height: 200px;
		}
	}


	.ql-picker-label,
	.ql-picker-item {
		&:before {
			content: attr(data-value) !important;
      font-size: attr(data-value) !important;
		}
	}
}
.ql-snow .ql-picker-label {
	outline: none;
}



// table

.ql-table {
	width: 66px;

	.ql-picker-label::before {
		content: "Table";
	}

	.ql-picker-options {
		[data-value="insert-table"]::before {
			content: "Insert Table";
		}
		[data-value="insert-row-above"]::before {
			content: "Insert Row Above";
		}
		[data-value="insert-row-below"]::before {
			content: "Insert Row Below";
		}
		[data-value="insert-column-right"]::before {
			content: "Insert Column Right";
		}
		[data-value="insert-column-left"]::before {
			content: "Insert Column Left";
		}
		[data-value="delete-row"]::before {
			content: "Delete Row";
		}
		[data-value="delete-column"]::before {
			content: "Delete Column";
		}
		[data-value="delete-table"]::before {
			content: "Delete Table";
		}
	}
}

.ql-editor td {
	border: 1px solid var(--dark-border-color);
}


.table-bordered {
  border: 1px solid #d1d8dd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #d1d8dd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
